@page
@model OrdersApp.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Заказы";
}

<h1>Заказы</h1>

<p>
    <a asp-page="Create">Добавить заказ</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Order[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].SenderCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].SenderAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].RecieverCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].RecieverAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CargoWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecieverCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecieverAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargoWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
